# Compiled binaries
bin/
dist/
*.zip
*.tar.gz
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
Screenshot*.png

# Local runner scripts
*.bat
*.ps1
skywave.bat
skywave.ps1
skywave-server.bat
skywave-server.ps1
